/* Archivo css del proyecto final del curso 1º-DAM.
Autot: Mario Castillo Fernández
Curso: 1º-DAM CENEC
Fecha: 13/4/2021
------------------------------------------------------------------------------------------------*/

		*{
		  box-sizing: border-box;
		  padding: 0;
		  margin: 0;
		}
		
		body{
			background-color:rgba(0,0,0,0.2);
		}
		
		.navbar {
		  overflow: hidden;
		  background-color: #333;
		}
		#mensaje{
			float:right;
			color:white;
			text-align:center;
			padding-top: 120px;
			padding-right:10px;
		}
		
		.navbar a {
		  float: left;
		  font-size: 16px;
		  color: white;
		  text-align: center;
		  padding:63px;
		  padding-top:20px;
		  padding-bottom:20px;
		  text-decoration: none;
		}
		
		.navbar a:hover, .dropdown:hover .dropbtn {
		  background-color: rgba(0,255,255,0.7);
		}
		
		a:active {
			color:yellow;
		}
		
		#pieDePagina{
			color:orange;
		}
		
		.marco {
		  display: grid;
		  border-style: solid;
		  border-color: red;
		  grid-template-columns: auto;
		  grid-template-rows: 60px 40px auto 40px;
		  grid-gap: 10px;
		  width: 100vw;
		  height: 100vh;
		}
		
		.encabezado {
		  height:fit-content;
		  border-style: solid;
		  background-color:grey;
		  border-color: blue;
		  grid-column: 1 / span 2;
		  grid-row: 1 / span 1;
		}
		
		.migas {
		  text-align:center;
		  border-style: solid;
		  border-color: yellow;
		  grid-column: 1 / span 2;
		  grid-row: 2 / span 1;
		}
		
		.lado {
		  
		}
		
		.contenido {
		  height:auto;
		  overflow:auto;
		  border-style: solid;
		  border-color: violet;
		  grid-column: 1 / span 2;
		  grid-row: 3 ;
		  background-image: linear-gradient(
			359deg
			, #fd00ff54, #ffffffb8);
		}
		
		.contenidoCreditos {
		  height:auto;
		  overflow:auto;
		  border-style: solid;
		  border-color: violet;
		  grid-column: 1 / span 2;
		  grid-row: 3 ;
		  background-image:url("../media/logo_barra.png");
		  background-position:center;
		  background-repeat:no-repeat;
		  background-size:contain;
		  text-align:justify;
		}
		
		.pie {
		  background-color:black;
		  border-style: solid;
		  border-color: aqua;
		  grid-column: 1 / span 2;
		  grid-row: 4 / span 1;
		}
		
		#correo{
			color:rgba(0,205,205,1);
			padding:7px 5px;
			float:left;
			text-align:center;
			font-size:1.1em;
			
		}
		#año{
			float:right;
			padding:5px 5px;
			text-align:right;
			font-size:1.3em;
			color:rgba(255,0,0,0.5);
		}
		
		#mensajeUSR{
			float:right;
			color:white;
			text-align:center;
			padding-top:20px;
			padding-right:10px;
		}
		
		#mensajeSesion{
		}
		
		.parrafoDerecha{
			width:auto;
			padding-top:15px;
			text-align:justify;
			padding-left:15px;
			padding-right:15px;
		}
		
		.parrafoIzquierda{
			width:auto;
			font-size: x-large;
			padding-top:15px;
			text-align:justify;
			padding-left:5px;
			padding-right:5px;
		}
		
		.parrafoCreditos{
			width:auto;
			font-size: x-large;
			padding-top:15px;
			padding-left:50px;
			padding-right:10px;
			text-align:justify;
		}
		
		.parrafoCentro{
			width:100%;
			float:center;
			font-size: x-large;
			padding-top:15px;
			text-align:justify;
			padding-left:5px;
			padding-right:5px;
		}
		
		.titulos{
			text-align:center;
			font-size:xx-large;
			padding-top:5px;
		}
		
		#logo_barra{
			box-sizing:border-box;
			width:80px;
			height:58px;
			float:left;
			padding:clear;
			padding-left:10px;
			padding-right:10px;
		}
		
		.divPelicula{
			font-size: x-large;
		}
		
		.divCreditos{
			font-size: x-large;
			background-color:rgba(255,255,255,0.7);
			padding-left:10px;
			padding-right:10px;
		}
		
		.divPeliculaDerecha{
			font-size:x-large;
			text-align:right;
		}
		
		.botonSesion{
			float:center;
		}
		
		.fotoIzquierda{
			float:left;
			padding:10px 10px;
			height:30vh;
			width:20.5vh;
		}
		
		.fotoDerecha{
			float:right;
			padding:10px 10px;
			height:30vh;
			width:20.5vh;
		}
		
		ul.breadcrumb {
			height:100%;
			padding:5px 16px;
			list-style: none;
			background-color: grey;
		}
		ul.breadcrumb li {
			display: inline;
			font-size: 18px;
		}
		ul.breadcrumb li+li:before {
			padding: 8px;
			color: black;
			content: " > ";
		}
		ul.breadcrumb li a {
			color: rgba(128,0,128,0.8);
			text-decoration: none;
		}
		ul.breadcrumb li a:hover {
			color: rgba(255,255,0,0.8);
			text-decoration: ;
		}
		
		.videoCabañita{
			width:49%;
			height:25vw;
			padding-left:15px;
		}
		
		@media screen and (max-width:600px){
			html {
				height: fit-content;
			}
			
			.marco {
				grid-template-rows: 150px 40px 500px 80px;
				border-style: hidden;
			}
			
			.navbar {
				display: block !important;
				height: auto;
			}
			
			.navbar a {
			  padding:0px;
			  padding-top:7px;
			  padding-bottom:7px;
			}
			
			ul.breadcrumb li {
				font-size: inherit;
			}
			
			.divPelicula{
				font-size: large;
			}
			
			.titulos{
				font-size:x-large;
			}
			
			.divPeliculaDerecha {
				font-size: large;
			}
			
			a#mensajeSesion {
				width: 100%;
				text-align:center;
			}
			
			u {
				font-size: x-large;
			}
			
			.divCreditos {
				font-size: large;
			}
			
			div#mensajeUSR {
				float: none;
			}
			
			a {
				width: 100%;
			}
			
		}